* {
padding: 0px;
margin:0px;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
body{
background: #fafafa;
}
header{
position: absolute;
top: 0px;
left: 0px;
background: rgba(255,255,255, 0.0);
width: 100%;
height: 55px;
z-index: 9;
}
.logo{
float:left;
width: 20%
}
#logo{
width: 94px;
height: 33px;
margin-top: 15px;
margin-left: 20px;
}
nav li {
display: inline-block;
margin-top: 7px;
margin-right: 25px;
color: white;
font-size: 21px;
font-weight: 700;
opacity: 0.7;
}

nav li:hover {
    opacity: 1;
}
.navigation{
float:left;
margin-top: 15px;
width: 60%;
}
#home{
float:left;
display: inline-block;
width: 30px;
height: 20px;
padding-right: 10px;
margin-top: 0px;
}
.login{
float:left;
margin-top: 20px;
width: 20%;
text-align: right;
padding-right: 20px;
}
#login{
color: white;
background-color: red;
width:80px;
height:32px;
border-radius: 4px;
border: 4px;
font-size: 17px;
font-weight: 700;
text-transform: uppercase;
}
[role=banner]{
width:auto;
height:432px;
}
.banner{
position: relative;
width: auto;
height: 100%;
}
/* Slideshow container */
.slideshow-container {
max-width: auto;
position: relative;
}
.mySlides {
display: none;
}
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
z-index: 2;

}
.next {
right: 0;
}
.footer{
padding-top: 40px;
width: 100%;
height: 148px;
background-color:white ;
color:  #A9A9A9;
}
.logo2{
float:left;
width: 30%;
padding-left: 92px;
}
#logo2{
height: 47px;
width: 136px;
}
.findUs{
float: left;
font-size: 21px;
width: 30%;
text-align: right;
padding-right: 92px;
}
#findUs{
margin-right: 15px;
}
.FAQ{
float: left;
width: 40%;
text-align: center;
}
.FAQ a{
text-decoration: none;
color:  #A9A9A9;
font-size: 21px;
font-weight: 700;
}
.FAQ a:hover{
color: red;
}
.FAQ p{
margin-top: 38px;
}
#FAQ_margin{
border-left: 2px solid  #A9A9A9;
border-right: 2px solid     #A9A9A9;
margin-right: 10px;
margin-left: 10px;
padding-right: 10px;
padding-left: 10px;
}
.copyright{
text-align: center;
margin-top: 10px;
}
.more{
text-align: center;
}
#more{
color: white;
background-color: red;
width:180px;
height:38px;
border-radius: 4px;
border: 4px;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
}
.heading{
display: inline-block;
float;
width: 100%;
height: 74px;
padding-top: 50px;
}
.title{
padding-left: 93px;
width: 50%;
float: left;
color: #de1e10;
font-size: 20px;
font-weight: 400;
}
.SeeAll{
text-align: right;
float: right;
width: 50%;
padding-right: 103px;
}
#SeeAll{
color: white;
background-color: red;
width:54px;
height:19px;
border-radius: 4px;
border: 4px;
font-size: 10pt;
font-weight: 700;
opacity: .5;
text-transform: uppercase;
}
#SeeAll_top{
color: white;
background-color: #66aa33;
width:54px;
height:19px;
border-radius: 4px;
border: 4px;
font-size: 10pt;
font-weight: 700;
opacity: .5;
text-transform: uppercase;
}
#SeeAll:hover, #SeeAll_top:hover{
opacity: 1;
}
/*carousel*/
.slider {
padding-top: 16px;
padding-left: 0px;
width: 1210px;
margin: 20px auto;
background-color: white;
height: 201px;
}
.slick-slide {
margin: 5px 10px 10px 10px;
}
.slick-slide img {
width: 100%;
}
.slick-prev:before,
.slick-next:before {
color: black;
}
.slick-slide {
transition: all ease-in-out .3s;
opacity: .2;
}
.slick-active {
opacity: 1;
}
.slick-current {
opacity: 1;
}
.carousel_item img{
height: 126px;
width: 224px;
}
.carousel_item p
{
padding-top: 15px;
padding-left: 80px;
clear: left;
}
.channel_item img{
height: 82px;
width: 100px;
}
.channel_item img:hover{
height: 98px;
width: 98px;
}
.channel_item p
{
padding-top: 15px;
clear: left;
}
.slider_background{
margin-top: -5%;
background-color: transparent;
}

.top_item img{

margin-right: 24px;
    max-width: 100%;
    height: auto;
    border-bottom: 2px solid red;
      position: relative;
  padding-top: 0px;
   overflow: hidden;
 


}
.top_item p
{

padding-top: 20px;
padding-left: 80px;
clear: left;
}

.top_background{
height: 386px;
background-color: #F0F0F0;
}
.top_title{
background-color: white;
height: 90%;
padding-bottom: 25px;

}


.top_slider > div {
  
    width: 260px;
    height: 270px;
    display: inline-block;
    float: left;
    margin-right: 20px;

}

.top_slider{

    width: auto;
    height: 350px;
    background-color: #F0F0F0;
    margin-right: 68px;
    margin-left: 68px;
      padding: 20px;
    position: relative;
    float;
}
#top_img{

    border-bottom: 2px solid red;
    width: 100%;


}
.caption{
    width: 50%;
    background-color: white;
    width: 100%;
    margin-top: 0px;
    padding-bottom: 20px;
}